$reseteo-margenes: 0px;
$reseteo-padding:$reseteo-margenes;

@mixin resetear {
    p,h1,h2,h3,h4,h5,h6{
        margin: $reseteo-margenes;
        padding: $reseteo-padding;
    }
}

@mixin centrado($margin-top-bot, $tamano-elemento) {
    margin:$margin-top-bot;
    width: $tamano-elemento;
}