$contador: 1;
$color-letra: red, blue, white;
$color-fondo-letra: blue, red, green;

@while $contador <= 3{
    td:nth-child(#{$contador}){
        color: nth($color-letra, $contador);
        background-color:nth($color-fondo-letra, $contador);
    }
    $contador: $contador + 1;
}
