main{
    margin-top: $padding-margen-elemento;
    .div-main-uno{
    }
    .div-main-dos{

        margin-top:$padding-margen-aumentado;
        h3{
            margin: $reseteo-m-p;
        }
        hr{
            margin: $reseteo-m-p;
            border: #{$border-negro};
        }
    }
    .div-main-tres{
        div{
            margin-top: $padding-margen-elemento;
        }
    }
    .div-main-cuarto{
        div{
            margin-top: $padding-margen-elemento;
        }
    }
}
.parrafo-pequeño{
    font-size: $letrapequeña;
 }