header{
    $color-header: rgb(109, 136, 226);
    background-color: $color-header;
    div{
        
        img{
            $tamaño-img:30%;
            width: $tamaño-img;
        }
    }
    .segundodiv{
        $color-letra-header: white;
        padding-top: $padding-margen-elemento;
        h2{
            color: $color-letra-header;
            text-align: $centrado;
        }
        h1{
            color: $color-letra-header;
            text-align: $centrado;
        }
    }
}