table{
    border-collapse: collapse;
}
td,th{
    border: 1px solid black;
}
tbody td:first-child{
    background-color: green;
}
[colspan="5"] {
    background-color: yellow;
}
thead th::first-letter{
    font-size: 2em;
}
a {
    color: green;
    text-decoration: none;
}
a:visited{
    color: red;
    text-decoration: none;
}
tbody td:last-child:hover{
    font-size: 2em;
}
p input:first-of-type{
    border-color: red;
    border-radius: 5px;
}

label::after{
    content: "*";
    color: red;
}
