.container {
    $centrado: 10px auto;
    $anchura-container: 80%;
    width: $anchura-container;
    margin: $centrado;
}

header {
    $color-header: #9b6f91;

    background-color: $color-header;

    ul {
        $letras-blancas: rgb(255, 255, 255);
        $padding-nav: 20px;
        list-style: none;
        padding-top: $padding-nav;
        padding-bottom: $padding-nav;

        li {
            display: inline;
            $separacion-nav: 30px;
            margin-right: $separacion-nav;

            &:hover {
                color: $letras-blancas;
            }

            &:first-child {
                color: $letras-blancas;
            }
        }

    }
}

main {
    display: flex;
    flex-flow: row wrap;

    figure {
        $border-figure: "0.5px solid black";
        $anchura-figure: 25%;
        $padding-figure: 15px;
        $borde-redondado-figure: 1rem;
        border: #{$border-figure};
        width: $anchura-figure;
        padding: $padding-figure;
        border-radius: $borde-redondado-figure;
        text-align: center;

        img {
            $anchura-imagen: 95%;
            $borde-redondado-img: 2rem;
            border-radius: $borde-redondado-img;
            width: $anchura-imagen;
        }
    }
}