<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout7</title>
    <link rel="stylesheet" href="CSS/css_layout.css">
</head>
<body>
    <div class="container">
        <header>GRAFPEDIA</header>
        <nav class="busc">
            <form action=""  method="POST"></form>
            <input type="search"name="buscador" placeholder="Type and hit enter to search">
        </nav>
        <nav class="navegacion">
            <ul class="listnav">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
        <div class="contenido">
            <div class="titulo">500+ Vector Files</div>
            <div class="subtitulo">Get a VIP account and download them all</div>
            <img class="img1" src="img/img1.png" alt="foto1">
            <img class="img2" src="img/img2.png" alt="foto2">
            <img class="img3" src="img/img3.png" alt="foto3">
            <img class="img4" src="img/img4.png" alt="foto4">
        </div> 
        <span>Get lots of vectors, icons, web layouts, brushes, textures and gradients »</span>
        <a class="vip" href="">Apply for a VIP account</a>
        <div class="tituloservicios">
            <img src="img/services.png" alt="cohete">
            <p class="tituloservicios">Services</p>
        </div>
        <div class="contenidoservicios">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, architecto. Nisi sed quis doloremque.
            <ul>
                <li>Web Design »</li>  
                <li>Print Design »</li>
                <li>Logo Design »</li>
                <li>Icon Design »</li>
            </ul>
            </p>
        </div>
        <div class="tituloproductos">
            <img src="img/products.png" alt="sombrilla">
            <p>Products</p>
        </div>
        <div class="contenidoproductos">
            <img class="prod1" src="IMG/img1.png" alt="foto1">
            <img class="prod2" src="IMG/img2.png" alt="foto1">
            <img class="prod3" src="IMG/img3.png" alt="foto1">
            <img class="prod4" src="IMG/img4.png" alt="foto1">
            <img class="prod5" src="IMG/img1.png" alt="foto1">
            <img class="prod6" src="IMG/img2.png" alt="foto1">
        </div>
        <div class="tituloaboutus">
            <img src="img/Aboutus.png" alt="sombrilla">
            <p>About us</p>
        </div>
        <div class="contenidoaboutus">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Porro dolores, illum inventore veniam error consectetur soluta ratione!. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis animi saepe distinctio nemo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure omnis optio sapiente, vel nihil officiis eum molestiae aliquam.</p>
        </div>
       
        <div class="tituloblog">
            <img src="IMG/blog.png" alt="blog">
            <p>Blog</p>
        </div>
        <div class="contenidoblog">
                <img class="primeraimgblog" src="img/luz.jpg" alt="luz"></img>
            <div class="primeraparteblog">
                <p class="h1blog">Create a light effect in Photoshop</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorem obcaecati minima iure accusantium hic commodi in ut. Possimus, doloribus?</p>
            </div>
            
                <img class="segundaimgblog" src="img/navegacion.jpg" alt="barra_navegacion"></img>
            <div class="segundaparteblog">
                <p class="h1blog">Design a clean Business Layout</p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorem obcaecati minima iure accusantium hic commodi in ut. Possimus, doloribus?</p>
            </div>
        </div>  
    </div>
</body>
</html>